<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My FastAPI Site{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>
            Simple ZFS Manager
        </h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Simple-ZFS-Manager App</p>
    </footer>
</body>
</html>
